#cart_image {
    float: left;
    width: 169px;
    height: 144px;
    padding-right: 25px;
}
#product_image {
	width: 525px; 
	float: left; 
	margin-right: 25px;
}

.card {
	margin-top: 50px;
}

#item_desc {
	text-align: left; 
	margin-top: 100px;
}


body{
    margin-top:20px;
	min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* background:#eee; */
}
.ui-w-40 {
    width: 40px !important;
    height: auto;
}

.card{
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);    
}

.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    vertical-align: middle;
}

footer {
	background-color: #15202B;
	text-align: center;
	padding-top: 30px;
	color: #FFFFFF;
	padding-bottom: 20px;
	margin-top: auto;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
  text-decoration: none;
}