{% extends "base.html" %}
{% block content %}
<div class="card" style="margin-top: 50px;">
    <div class="card-header">
        Корзина
    </div>
    <ul class="list-group list-group-flush">
        {% if total == 0 %}
            <li class="list-group-item">Ваша корзина пуста</li>
        {% else %}
            {% for item in cart %}
                <li class="list-group-item">
                    <p style="display:inline-block;">{{ item.name }}</p>
                    	<form method="post" style="float: right;">
                            {%set pr = item.price | string%}
<!--                            {%set cnt = item.price | string%}-->
                            {%set x = '-'.join([item.name_id,item.__table__.name,pr])%}
                            <input type="hidden" name="delete" value={{ x }}>
                            <input type="submit" class="btn btn-danger" value="Удалить">
                        </form>
                    <img src={{ item.image }} class="card-img-top" style=" float: left; width: 169px; height: 144px; padding-right: 25px;" alt="...">
                </li>
            {% endfor %}
        {% endif %}
    </ul>
    <h4 style="text-align: right;">Итого: {{ total }}$</h4>
</div>
{% endblock %}