{% extends "base.html" %}
{% block content %}
<img src="{{ item["image"] }}" class="rounded float-start" alt={{ item["name"] }}, style="width: 525px; float: left; margin-right: 25px;">
<div style="text-align: left; margin-top: 100px;">
	<h2 style="margin-bottom: 50px;">{{ item["name"] }}</h2>
	<p description>
	{{ item.description }}
	</p>
	<p><b>Состав:</b> {{ item.composition }}</p>
</div>

<h3>Цена: {{ item.price }}$</h3>

{%if [item.name_id, item.__table__.name, 1] not in cart%}
	<form method="post">
		<input type="hidden" name="action" value="add">
		<input type="submit" class="btn btn-success" value="Добавить">
	</form>
{%else%}
	<form method="post">
		<input type="hidden" name="action" value="delete">
		<input type="submit" class="btn btn-danger" value="Удалить">
	</form>
{%endif%}

<a href={{ past }}>
<button type="button" class="btn btn-outline-primary" style="position: static; margin-top: 5px;">Назад</button>
</a>
{% endblock %}