{% extends "base.html" %}
{% block content %}
<h1>Добрый день</h1>

<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for item in db_sess.query(sect).all(): %}
        {% set page = "./" + sect.__table__.name + "/" + item.name_id %}
        <div class="col mb-4">
            <div class="card">
                <img src={{ item.image }} class="card-img-top" alt="Бирюзовое худи">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">Сделано из натурального хлопка с любовью</p>
                    <a href={{ page }} class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}